<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- You can add your title below -->
    
    <title>Sagar's Techno Health Web App</title>
    
    <!-- You can add keywords below for better search results on search engines -->

    <meta name="keywords" content="Techno Health,Sagar Dhandare">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="Web App">
    <meta property="og:type" content="website">

    <!-- You can add a small description below which appears on search-->

    <meta name="description" content="Techno Health Web App">
    <meta property="og:image" content="assets/img/profile.jpg">
    <meta name="twitter:title" content="Sagar">

    <!-- You can add favicons here which appears on the tabs -->

    <link rel="icon" type="image/jpg" sizes="256x256" href="assets/img/profile.jpg">
    <link rel="icon" type="image/jpg" sizes="256x256" href="assets/img/profile.jpg">
    <link rel="icon" type="image/jpg" sizes="256x256" href="assets/img/profile.jpg">
    <link rel="icon" type="image/jpg" sizes="256x256" href="assets/img/profile.jpg">
    <link rel="icon" type="image/jpg" sizes="256x256" href="assets/img/profile.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body style="background-color:#fff0ec;">
    
    <!-- Navbar section -->
    
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#">Techno Health</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#home">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#projects">Projects</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#details">Details</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Welcome Section -->

    <div>
        <!-- You can put your profile picture below -->
        <div style="background-image: url(assets/img/tech.png);" class="col welcome-message-container">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>


    <!-- Projects section -->

    <div id="projects" class="projects">
        <div class="row projects">
            <div class="col">
                <h1 class="sub-headings">Predictor's</h1><br>
                <div class="row projects-row">

                    <div class="col-4 projects-column">
                        <!-- Can add images of your projects below here-->
                        <div class="single-project"><img class="projects-image" src="assets/img/diabetes.jpg">
                            <div class="project-description">
                                <!-- Project Description -->
                                <h1 class="project-name">Diabetes Disease</h1>
                                <!-- Project Link -->
                                <a class="full-project-link" href="https://diabetes-projects.herokuapp.com/"><span style="text-decoration: underline;">View Project</span><em><i class="fa fa-external-link-alt"></i></em></a></div>
                        </div>
                    </div>

                    <div class="col-4 projects-column">
                        <!-- Can add images of your projects below here-->
                        <div class="single-project"><img class="projects-image" src="assets/img/heart2.jpg">
                            <div class="project-description">
                                <!-- Project Description -->
                                <h1 class="project-name">Heart Disease</h1>
                                <!-- Project Link -->
                                <a class="full-project-link" href="https://heart-diseases-pred.herokuapp.com/"><span style="text-decoration: underline;">View Project</span><em><i class="fas fa-external-link-alt"></i></em></a></div>
                        </div>
                    </div>
                    <div class="col-4 projects-column">
                        <!-- Can add images of your projects below here-->
                        <div class="single-project"><img class="projects-image" src="assets/img/kidney2.jpg">
                            <div class="project-description">
                                <!-- Project Description -->
                                <h1 class="project-name">Kidney Disease</h1>
                                <!-- Project Link -->
                                <a class="full-project-link" href="https://kidney-disease.herokuapp.com/"><span style="text-decoration: underline;">View Project</span><em><i class="fas fa-external-link-alt"></i></em></a></div>
                        </div>
                    </div>
                    <div class="col-4 projects-column">
                        <!-- Can add images of your projects below here-->
                        <div class="single-project"><img class="projects-image" src="assets/img/liver.jpg">
                            <div class="project-description">
                                <!-- Project Description -->
                                <h1 class="project-name">Liver Disease</h1>
                                <!-- Project Link -->
                                <a class="full-project-link" href="https://liver-disease-pred.herokuapp.com/"><span style="text-decoration: underline;">View Project</span><em><i class="fas fa-external-link-alt"></i></em></a></div>
                        </div>
                    </div>
                    <div class="col-4 projects-column">
                        <!-- Can add images of your projects below here-->
                        <div class="single-project"><img class="projects-image" src="assets/img/breast2.png">
                            <div class="project-description">
                                <!-- Project Description -->
                                <h1 class="project-name">Breast Cancer Disease</h1>
                                <!-- Project Link -->
                                <a class="full-project-link" href="https://breast-cancer-predi.herokuapp.com/"><span style="text-decoration: underline;">View Project</span><em><i class="fas fa-external-link-alt"></i></em></a></div>
                        </div>
                    </div>
                    <div class="col-4 projects-column">
                        <!-- Can add images of your projects below here-->
                        <div class="single-project"><img class="projects-image" src="assets/img/stroke2.jpg">
                            <div class="project-description">
                                <!-- Project Description -->
                                <h1 class="project-name">Stroke Disease</h1>
                                <!-- Project Link -->
                                <a class="full-project-link" href="https://stroke-project.herokuapp.com/"><span style="text-decoration: underline;">View Project</span><em><i class="fas fa-external-link-alt"></i></em></a></div>
                        </div>
                    </div>
                    <div class="col-4 projects-column">
                        <!-- Can add images of your projects below here-->
                        <div class="single-project"><img class="projects-image" src="assets/img/insurance.jpg">
                            <div class="project-description">
                                <!-- Project Description -->
                                <h1 class="project-name">Medical Insurance Cost</h1>
                                <!-- Project Link -->
                                <a class="full-project-link" href="https://medical-insurance-cost.herokuapp.com/"><span style="text-decoration: underline;">View Project</span><em><i class="fas fa-external-link-alt"></i></em></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </br>
    <div class="line-break">
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
    </div>
    </br>

    <!-- About section -->
    
    <div id="about" class="about">
        <h1 class="sub-headings">About</h1>
        <p class="about-para">This is the Machine Learning web app used for estimating the health disease.</p>
        </br>
        <h3>1. Diabetes</h3>
        <p class="about-para">Diabetes is the condition in which the body does not properly process food for use as energy. Most of the food we eat is turned into glucose, or sugar, for our bodies to use for energy. The pancreas, an organ that lies near the stomach, makes a hormone called insulin to help glucose get into the cells of our bodies. </br> Diabetes happens when your blood sugar is too high, causing damage to many organs in your body, including the kidneys and heart, as well as blood vessels, nerves and eyes. </p>
        </br>
        <h3>2. Heart</h3>
        <p class="about-para">One of the most common complications of heart disease, heart failure occurs when your heart can't pump enough blood to meet your body's needs. Unhealthy lifestyle habits, such as a poor diet, lack of exercise, being overweight and smoking, can lead to atherosclerosis.</p>
        </br>
        <h3>3. Kidney</h3>
        <p class="about-para">When your kidneys are damaged, waste products and fluid can build up in your body. That can cause swelling in your ankles, nausea, weakness, poor sleep, and shortness of breath. Without treatment, the damage can get worse and your kidneys may eventually stop working. That's serious, and it can be life-threatening.</p>
        </br>
        <h3>4. Liver</h3>
        <p class="about-para">The liver is essential for digesting food and ridding your body of toxic substances. Liver disease can be inherited (genetic). Liver problems can also be caused by a variety of factors that damage the liver, such as viruses, alcohol use and obesity.</br> Alcohol abuse and liver disease: Alcohol abuse is the most common cause of liver disease. Alcohol is directly toxic to liver cells and can cause liver inflammation, referred to as alcoholic hepatitis. In chronic alcohol abuse, fat accumulation occurs in liver cells affecting their ability to function.</p>
        </br>
        <h3>5. Breast Cancer</h3>
        <p class="about-para">Breast cancer is caused when the DNA in breast cells mutate or change, disabling specific functions that control cell growth and division. In many cases, these mutated cells die or are attacked by the immune system. But some cells escape the immune system and grow unchecked, forming a tumor in the breast.</p>
        </br>
        <h3>6. Stroke</h3>
        <p class="about-para">Causes of strokes include ischemia (loss of blood supply) or hemorrhage (bleeding) in the brain. People at risk for stroke include those who have high blood pressure, high cholesterol, diabetes, and those who smoke. People with heart rhythm disturbances, especially atrial fibrillation are also at risk.</p>
        </br>
    </div>
    <div class="line-break">
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
    </div>
    </br>
    </br>
    <!-- Details section -->

    <div id="details" class="details" align="center">
        <div>
            <h1 class="sub-headings">Details</h1>
            <p class="about-para">A machine learning web app created using flask and deployed on heroku platform.
                </br></br>
                Advantages of AI in Healthcare
                </br>
                i. Improved accessibility
                </br>
                ii. Increased speed and reduced costs
                </br>
                iii. Enhanced human abilities
                </br>
                iv. Removing some amount of dependencies on the doctors
                </br>
                v. To help out the poor and helpless people with the normal medical checkup
                </br></br>
                Technology Used
                </br>
                Python, Machine Learning, Flask, HTML, CSS, Pycharm
                </br>
                </br>
                Feedback
                </br>
                If you have any feedback, please reach out to me at LinkedIn
                </br>
                Thank you!
            </p>
        </div>
    </div>


    <!-- Contact Section -->
    
    <div id="contact" class="footer-basic">
        <footer>
            <div class="social">
                <!-- Can add links to your social accounts below here -->
                </br>
                <a href="mailto: sagardhandare3@gmail.com"><i class="fas fa-envelope"></i></a>
                <a href="https://www.linkedin.com/in/sagardhandare/"><i class="icon ion-social-linkedin"></i></a>
                <a href="https://github.com/SagarDhandare"><i class="icon ion-social-github"></i></a>
                <a href="https://sagardhandare3.medium.com/"><i class="fab fa-medium"></i></a>
            </div>
            <p class="copyright">© Sagar Dhandare</p>
        </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>