<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- You can add your title below -->
    
    <title>Sagar's Techno Health</title>
    
    <!-- You can add keywords below for better search results on search engines -->
    
    <meta name="keywords" content="Techno Health,Sagar">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="Web App">
    <meta property="og:type" content="website">
    
    <!-- You can add a small description below which appears on search-->
    
    <meta name="description" content="Sagar Dhandare Techno Health Web app">
    <meta property="og:image" content="assets/img/profile.jpg">
    <meta name="twitter:title" content="Techno Health">
    
    <!-- You can add favicons here which appears on the tabs -->
    
    <link rel="icon" type="image/jpg" sizes="256x256" href="assets/img/profile.jpg">
    <link rel="icon" type="image/jpg" sizes="256x256" href="assets/img/profile.jpg">
    <link rel="icon" type="image/jpg" sizes="256x256" href="assets/img/profile.jpg">
    <link rel="icon" type="image/jpg" sizes="256x256" href="assets/img/profile.jpg">
    <link rel="icon" type="image/jpg" sizes="256x256" href="assets/img/profile.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    
    <!-- Navbar section -->
    
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#">Techno Health</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#home">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#projects">Projects</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#details">Details</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Welcome Section -->

    <div>
        <!-- You can put your profile picture below -->
        <div class="col welcome-message-container"><img class="profile-img" src="assets/img/profile.jpg">
            <h1 class="welcome-message">Sagar Dhandare&nbsp;</h1>
            <p class="profession">Data Science Learner</p>
        </div>
    </div>

    <!-- Projects section -->

    <div id="projects" class="projects">
        <div class="row projects">
            <div class="col">
                <h1 class="sub-headings">My Projects</h1>
                <div class="row projects-row">
                    <div class="col-4 projects-column">
                        <!-- Can add images of your projects below here-->
                        <div class="single-project"><img class="projects-image" src="assets/img/diabetes.jpg">
                            <div class="project-description">
                                <!-- Project Description -->
                                <h1 class="project-name">Diabetes Disease</h1>
                                <!-- Project Link -->
                                <a class="full-project-link" href="assets/html/index_diabetes.html"><span style="text-decoration: underline;">View Project</span><em><i class="fa fa-external-link-alt"></i></em></a></div>
                        </div>
                    </div>
                    <div class="col-4 projects-column">
                        <!-- Can add images of your projects below here-->
                        <div class="single-project"><img class="projects-image" src="assets/img/heart2.jpg">
                            <div class="project-description">
                                <!-- Project Description -->
                                <h1 class="project-name">Heart Disease</h1>
                                <!-- Project Link -->
                                <a class="full-project-link" href="assets/html/index_heart.html"><span style="text-decoration: underline;">View Project</span><em><i class="fas fa-external-link-alt"></i></em></a></div>
                        </div>
                    </div>
                    <div class="col-4 projects-column">
                        <!-- Can add images of your projects below here-->
                        <div class="single-project"><img class="projects-image" src="assets/img/kidney2.jpg">
                            <div class="project-description">
                                <!-- Project Description -->
                                <h1 class="project-name">Kidney Disease</h1>
                                <!-- Project Link -->
                                <a class="full-project-link" href="assets/html/index_kidney.html"><span style="text-decoration: underline;">View Project</span><em><i class="fas fa-external-link-alt"></i></em></a></div>
                        </div>
                    </div>
                    <div class="col-4 projects-column">
                        <!-- Can add images of your projects below here-->
                        <div class="single-project"><img class="projects-image" src="assets/img/liver.jpg">
                            <div class="project-description">
                                <!-- Project Description -->
                                <h1 class="project-name">Liver Disease</h1>
                                <!-- Project Link -->
                                <a class="full-project-link" href="assets/html/index_liver.html"><span style="text-decoration: underline;">View Project</span><em><i class="fas fa-external-link-alt"></i></em></a></div>
                        </div>
                    </div>
                    <div class="col-4 projects-column">
                        <!-- Can add images of your projects below here-->
                        <div class="single-project"><img class="projects-image" src="assets/img/breast2.png">
                            <div class="project-description">
                                <!-- Project Description -->
                                <h1 class="project-name">Breast Cancer Disease</h1>
                                <!-- Project Link -->
                                <a class="full-project-link" href="assets/html/index_breast.html"><span style="text-decoration: underline;">View Project</span><em><i class="fas fa-external-link-alt"></i></em></a></div>
                        </div>
                    </div>
                    <div class="col-4 projects-column">
                        <!-- Can add images of your projects below here-->
                        <div class="single-project"><img class="projects-image" src="assets/img/stroke2.jpg">
                            <div class="project-description">
                                <!-- Project Description -->
                                <h1 class="project-name">Stroke Disease</h1>
                                <!-- Project Link -->
                                <a class="full-project-link" href="assets/html/index_stroke.html"><span style="text-decoration: underline;">View Project</span><em><i class="fas fa-external-link-alt"></i></em></a></div>
                        </div>
                    </div>
                    <div class="col-4 projects-column">
                        <!-- Can add images of your projects below here-->
                        <div class="single-project"><img class="projects-image" src="assets/img/insurance.jpg">
                            <div class="project-description">
                                <!-- Project Description -->
                                <h1 class="project-name">Medical Insurance Cost</h1>
                                <!-- Project Link -->
                                <a class="full-project-link" href="assets/html/index_insurance.html"><span style="text-decoration: underline;">View Project</span><em><i class="fas fa-external-link-alt"></i></em></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line-break">
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
    </div>


    <!-- About section -->
    
    <div id="about" class="about">
        <h1 class="sub-headings">About</h1>
        <p class="about-para">MSc Mathematics - BSc Mathematics, Statistics & Computer Application<br></p>

    </div>
    <div class="line-break">
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
    </div>
    
    <!-- Skills section -->
    
    <div id="skills" class="skills">
        <h1 class="sub-headings">Skills</h1>
        <div class="row skill-row">
            <div class="col-4 single-skill">
                <div class="single-skill-inner">
                    <h1 class="skill-heading">Python</h1><em class="font-icon"><i class="fab fa-python"></i></em>
                    <!-- Skill description -->
                    <p class="skill-description">Python.&nbsp;<br></p>
                </div>
            </div>
            <div class="col-4 single-skill">
                <div class="single-skill-inner">
                    <h1 class="skill-heading">Machine Learning</h1><em class="font-icon"><i class="fas fa-laptop-code"></i></em>
                    <!-- Skill description -->
                    <p class="skill-description">Linear Regression, Decision tree, Random Forest and many more.&nbsp;<br></p>
                </div>
            </div>
            <div class="col-4 single-skill">
                <div class="single-skill-inner">
                    <h1 class="skill-heading"><strong>Data Science</strong><br></h1><em class="font-icon"><i class="fas fa-laptop-code"></i></em>
                    <!-- Skill description -->
                    <p class="skill-description">Data.&nbsp; <br></p>
                </div>
            </div>
        </div>
    </div>
    <div class="line-break">
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
        <div class="line-break-circle"></div>
    </div>
    

    
    <!-- Contact Section -->
    
    <div id="contact" class="footer-basic">
        <footer>
            <div class="social">
                <!-- Can add links to your social accounts below here -->
                <a href="https://www.linkedin.com/in/sagar-dhandare-a401271a3/"><i class="icon ion-social-linkedin"></i></a>
                <a href="https://github.com/SagarDhandare"><i class="icon ion-social-github"></i></a>
                <a href="mailto: sagardhandare3@gmail.com"><i class="fas fa-envelope"></i></a>
                 
            <p class="copyright">Sagar © 2021</p>
        </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>